<header>
    <h1>R and R</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <!-- <li><a href="#">reviews</a></li> -->
        </ul>
    </nav>
</header>
