<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head-tag.ejs', {title: 'Add a New Project'}) %>
    <link rel="stylesheet" href="/styles/project-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="project-person">
        <h2>Create a Project</h2>
        <h4><i>time for show and tell, would you like to share the project piece you had done?</i></h4>
    </section>

    <form method="POST" action="/projects">
        <!-- Title input -->
        <label for="title">Project title*:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <!-- Category input -->
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" min="0" required>
        <br>
        <!-- Status input -->
        <label for="status">status:</label>
        <input type="text" id="status" name="status" >
        <br>
        <!-- Photo input -->
        <label for="photo">Photo (URL)*:</label>
        <input type="text" id="photo" name="photo" required>
        <br>
        <!-- Description input -->
        <label for="description">Description*:</label>
        <textarea id="description" name="description" required></textarea>
        <br>
        <input type="submit" value="Create Project">
    </form>

    
</body>

</html>
