* {
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
}

.about {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p {
    margin-top: 30px;
    margin-bottom: 1rem;
    font-weight: bolder;
}


.logo {
    max-height: 200px;
    max-width: 200px;
    box-shadow: 2px 2px 12px 12px;
    margin-top: auto;
}

.grid {
    background-color: #f7f7f7;
    padding: 2rem
}

.grid h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 2rem;
    
}

.project-grid li {

    height: 200px;
    width: calc(33% - 1rem);
    min-width: 300px;
    margin-bottom: 2rem;
    
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow:hidden;
}

figure {
    height: 50%;
}

.project-grid img {
    height: 200%;
    width: 100%;
    object-fit: cover;
   
}

figcaption {
    
    padding-bottom: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: steelblue;
    position: relative;
}

.project-info h3 {
    font-size: calc(1em + 0.5vw);
    /* margin-top: 15px; */
}



@media only screen and (min-width:500px){
    .project-grid, h2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body {
        max-width: 100%;
        overflow-x: hidden;
      }
}