
* {
    
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
}

div {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: 5px inset #ccc;
    padding: 20px;
    margin: 4vh auto;
    box-shadow: 2px 2px 12px 12px #ccc;
    

}

img {
    width: 60%;
    min-width: 300px;
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 5px whitesmoke;
}

.project-title {
    font-size: 32px;
    margin-bottom: 10px;
}

section {
    text-align: left;
    margin: 0 20%;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}



/* Style Action Buttons */
.actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    color: black;
    border-radius: 5;
    padding: 10px;
}

.reviews {
    display: block;
    align-self: flex-start;
    justify-self: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

#reviews {
    display: flex;
    align-self: center;
    justify-self: center;
}

@media only screen and (min-width:500px) {
    footer {
        max-width: 100%;
        overflow-x: hidden;
      }
}